body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  position: relative;
  top: 236px;
  margin: 50px auto;
  max-width: 900px;
  border-radius: 10px;
  position: relative; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.474); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content {
  display: flex;      
  flex-wrap: wrap;    
  width: 100%;
  min-height: 400px;
}

/* Centrar el formulario y sus elementos */
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Estilo para el checkbox y su etiqueta */
.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-label {
  font-size: 0.9rem;
  color: #4d3019;
}

/* Botón centrado */
.form-button {
  background-color: #4d3019;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  width: 100%; /* Ajusta el ancho del botón */
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #633f28;
}

.left {
  flex: 1 1 50%;
  background: url("https://www.infobae.com/resizer/v2/3FI2PE4OHRBCVJGUDQEZKZU3SE.jpg?auth=02e7c04b053a0671829c80caea309dc040d75c6a7e78af7cc06cf343993515d1&smart=true&width=992&height=744&quality=85")
  no-repeat center center;
  background-size: cover;
  background-color: rgba(219, 203, 150, 0.7);
  background-blend-mode: multiply;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff; 
}


.left h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #4d3019;
} 

.left p {
  margin-bottom: 2rem;
  font-size: 0.rem;
  color: #fcf3eb;

}

.right {
  flex: 1 1 50%;
  background-color: #DBCB96; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4d3019; 
}

.right h2 {
  margin-bottom: 1rem;
  color: #4d3019; 
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo casi transparente */
  color: #4d3019; /* Color del texto */
  font-size: 1rem;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Placeholder casi transparente */
.form-input::placeholder {
  color: rgba(77, 48, 25, 0.5);
}

/* Cambios al enfocar el campo */
.form-input:focus {
  background-color: #fff;
  color: #4d3019;
  border-color: #4d3019; 
}

.right input {
  border: 1px solid #b6936b;
  border-radius: 5px;
  padding: 10px;
  background: white;
  color: black;
}

.right button[type="submit"] {
  background-color: #4d3019;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.right button[type="submit"]:hover {
  background-color: #a06f50; 
}