body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-container {
  position: relative;
  width: 960px; /* 20% más grande */
  max-width: 100%;
  height: 600px; /* 20% más grande */
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://www.infobae.com/resizer/v2/3FI2PE4OHRBCVJGUDQEZKZU3SE.jpg?auth=02e7c04b053a0671829c80caea309dc040d75c6a7e78af7cc06cf343993515d1&smart=true&width=992&height=744&quality=85') no-repeat center center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Mayor transparencia */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.login-content {
  display: flex;
  width: 90%;
  color: white;
  padding: 20px;
  text-align: center; /* Centrar contenido */
}

.left,
.right {
  flex: 1;
  padding: 20px;
}

.left h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.social-icons .icon {
  display: inline-block;
  background: white;
  color: black;
  margin-right: 10px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.right h2 {
  color: #d4af37; /* Dorado */
}

.right form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Añade separación entre los campos */
}

.right input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: white;
  color: black;
}
