.pagination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  position: relative;
}

.pagination-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none; 
  margin-top: 20px;
    z-index: 2;
  }

.pagination button {
  background-color: rgb(158, 119, 92);
  border: 1px solid #ddd;
  color: rgb(231, 229, 192);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: rgb(158, 119, 92);
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
  margin: 0 10px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .pagination button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .pagination span {
    font-size: 14px;
    margin: 0 8px;
  }
}

@media (max-width: 480px) {
  .pagination button {
    padding: 6px 12px;
    font-size: 12px;
  }

  .pagination span {
    font-size: 12px;
    margin: 0 6px;
  }
}