.profile-page {
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-details {
  margin: 0 auto;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details p {
  margin: 10px 0;
}

.edit-button-container {
  text-align: center;
  margin-top: 20px;
}

.edit-button {
  background-color: #6f4e37;
  border: none;
  color: #E0D8B0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #533825;
}.profile-page {
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-details {
  margin: 0 auto;
  max-width: 600px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details p {
  margin: 10px 0;
}

.edit-button-container {
  text-align: center;
  margin-top: 20px;
}

.edit-button {
  background-color: #6f4e37;
  border: none;
  color: #E0D8B0;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.edit-button:hover {
  background-color: #533825;
}